build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
crashtest==0.4.1
distlib==0.3.9
dulwich==0.21.7
fastjsonschema==2.21.1
filelock==3.17.0
idna==3.10
importlib_metadata==8.6.1
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.6.0
msgpack==1.1.0
packaging==24.2
pexpect==4.9.0
pkginfo==1.12.1.2
platformdirs==4.3.6
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycparser==2.22
pyproject_hooks==1.2.0
RapidFuzz==3.12.1
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
tomlkit==0.13.2
trove-classifiers==2025.2.18.16
urllib3==2.3.0
virtualenv==20.29.2
xattr==1.1.4
zipp==3.21.0
